<!-- Footer Top -->
<div class="footer-top clearfix">
	<div class="ft-about">
		<img src="/img/logo.png" alt="ServeBank">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit justo id ipsum facilisis pretium. Integer nisl neque, venenatis vel ornare et, eleifend in metus.</p>
	</div>
	<div class="ft-links clearfix">
		<nav class="clearfix">
			<ul>
				<li>
					<h4>CORPORATE</h4>
				</li>
				<li><a href="#!">ABOUT US</a>
				</li>
				<li><a href="#!">MEET THE TEAM</a>
				</li>
				<li><a href="#!">CONTACT US</a>
				</li>
				<li><a href="#!">CONSULT US</a>
				</li>
				<li><a href="#!">COMMUNITY PROGRAMS</a>
				</li>
				<li><a href="#!">FAQ</a>
				</li>
				<li><a href="#!">PARTNER US</a>
				</li>

			</ul>
			<ul>
				<li>
					<h4>COMPANY LISTED</h4>
				</li>
				<li><a href="#!">APPSOURCE</a>
				</li>
				<li><a href="#!">BRITISH CAMBRIDGE</a>
				</li>
				<li><a href="#!">SERVEBANK FINANCIAL</a>
				</li>
				<li><a href="#!">CAMBRIDGE MEDICAL GROUP</a>
				</li>
				<li><a href="#!">THE CAMBRIDGE PROPERTIES</a>
				</li>
			</ul>
			<ul>
				<li>
					<h4>OUR SERVICES</h4>
				</li>
				<li><a href="#!">CROWDFUNDING</a>
				</li>
				<li><a href="#!">CONSULTANCY</a>
				</li>
			</ul>
			<ul>
				<li>
					<h4>QUICK LINKS</h4>
				</li>
				<li><a href="#!">COPYRIGHTS</a>
				</li>
				<li><a href="#!">DISCLAIMER</a>
				</li>
				<li><a href="#!">PRIVACY POLICY</a>
				</li>
				<li><a href="#!">TERMS OF USE</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<!-- Footer Top End -->

<!-- Footer Middle -->
<div class="footer-middle clearfix">
	<div class="fm-social">
		<h4>FOLLOW US SOCIAL MEDIA</h4>
		<ul class="social-icons social-round clearfix">
			<li class="facebook"><a href="#!"><i class="fa fa-facebook"></i></a>
			</li>
			<li class="twitter"><a href="#!"><i class="fa fa-twitter"></i></a>
			</li>
			<li class="linkedin"><a href="#!"><i class="fa fa-linkedin"></i></a>
			</li>
			<li class="google-plus"><a href="#!"><i class="fa fa-google-plus"></i></a>
			</li>
		</ul>
	</div>
	<div class="fm-newsletter">
		<h4>SUBSCRIBE TO OUR NEWSLETTER</h4>
		<div class="newsletter-form clearfix">
			<form>
				<input type="text" placeholder="ENTER YOUR E-MAIL ADDRESS" required="">
				<button type="submit"><i class="fa fa-paper-plane"></i>
				</button>
			</form>
		</div>
	</div>
</div>
<!-- Footer Middle End -->

<!-- Footer Bottom -->
<div class="footer-bottom clearfix">
	<div class="fb-copyright">© BRITISHCAMBRIDGE FINANCIAL. ALL RIGHTS RESERVED.</div>
	<div class="fb-contact">
		<ul class="clearfix">
			<li><i class="fa fa-map-marker"></i> UNIT D, BELVEDERE TOWER, ORTIGAS CENTER</li>
			<li><i class="fa fa-phone"></i> +632 650 6565</li>
			<li><i class="fa fa-paper-plane"></i> <a href="mailto:info@servebank.org">info@britishcambridge.net</a>
			</li>
		</ul>
	</div>
</div>
<!-- Footer Bottom End -->
