<ul class="clearfix menu {{include.navclass}}">
	<li><a href="/">Home</a></li>
	<li class="sub"><a href="#!">Corporate</a>
		<ul>
			<li><a href="#!">About Us</a></li>
			<li><a href="#!">Listed Companies</a></li>
		</ul>
	</li>
	<li class="sub"><a href="#!">Our Services</a>
		<ul>
			<li><a href="#!">CrowdFunding Services</a></li>
			<li><a href="#!">Consultancy Services</a></li>
		</ul>
	</li>
	<li><a href="#!">FAQ</a></li>
	<li><a href="#!">News</a></li>
	<li><a href="#!">Contact Us</a></li>
</ul>
