<ul class="clearfix menu {{include.navclass}}">
	<li><a href="/">Home</a></li>
	<li class="sub"><a href="/about-us/">Corporate</a>
		<ul>
			<li><a href="/corporate/about-us/">About Us</a></li>
			<li><a href="/corporate/listed/">Listed Companies</a></li>
		</ul>
	</li>
	<li class="sub"><a href="/services/investing/">Our Services</a>
		<ul>
			<li><a href="/services/investing/">Investing</a></li>
			<li><a href="#!">How to get listed</a></li>
		</ul>
	</li>
	<li><a href="/faq/">FAQ</a></li>
	<li><a href="/news/">News</a></li>
	<li><a href="/contact-us/">Contact Us</a></li>
</ul>
